@{
    ViewData["Title"] = "Confirmación de correo electrónico";
}

<div style="padding-top: 100px; text-align: center; color: white;">
    <h2>Correo electrónico confirmado</h2>
    <p>Gracias por confirmar tu correo electrónico. Ahora puedes iniciar sesión en tu cuenta.</p>
</div>