@{
    ViewData["Title"] = "Confirmación de Recuperación de Contraseña";
}

<div class="centered-content text-white">
    <h2>@ViewData["Title"]</h2>
    <p>Se ha enviado un enlace para restablecer su contraseña a su correo electrónico.</p>
    <a asp-action="Index">Volver</a>
</div>

<style>
    .centered-content {
    margin-top: 100px; /* Ajusta este valor según el tamaño de tu navbar */
    text-align: center; /* Centra el contenido horizontalmente */
}

</style>