@{
    ViewData["Title"] = "Confirmación de registro";
}

<div style="padding-top: 100px; text-align: center; color: white;">
    <h2>Gracias por registrarte.</h2>
    <p>Por favor revisa tu correo electrónico para confirmar tu cuenta.</p>
</div>
Explicaci
