@model ResetPasswordViewModel

<div class="card" style="background-color: #343a40; color: white; margin-top: 150px; margin-bottom: 50px;">
    <div class="card-body">
        <h5 class="card-title">Restablecer Contraseña</h5>
        
        <form asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="Token" />

            <div class="form-group">
                <label asp-for="Email" class="text-white"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="text-white"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="text-white"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>
